body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
}
body {
    overflow-y: scroll; /* Enable vertical scrolling if necessary */
    overscroll-behavior: contain; /* Prevent overscroll behavior */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    height: calc(100vh-100px);
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.backgroundImg {
    width: 100%;
}

.left-column {
    padding: 20px 10%;
    background-image: "url(/static/images/cheeky.jpg)";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.right-column {
    padding: 20px 10%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(32, 31, 31);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #183108;
}

.form-container {
    position: relative;
    margin: auto;
}