@media (max-width: 600px) {

}

html, body {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100%;
    margin: 0;
}


.container {
    margin: auto auto;
    overflow: hidden;
    vertical-align: center;
    margin: 3%;
}

#home {
    color: black;
    background: none;
    position: absolute;
    top: 90%;
    left: 50%;
    height: 5%;
    width: 10%;
    border: 0px;
    transform: translateX(-50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}

#home:focus {
    outline: none;
}

  .carousel-inner > .carousel-item {
    vertical-align: center;
    height: 80vh;
    width: auto;
    max-width: 80vh;
 }

.inner {
    width: 100%;
    position:relative;
    justify-content: center;
}

.item.active {
    margin: 0 auto;
    padding: 0px;
}

.image-wrapper {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    vertical-align: center;
}

.gallery-image {
    flex-shrink: 0;
    left: auto;
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-indicators li {background-color: black;}
.carousel .carousel-indicators li.active {background-color: magenta;}