#container {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        display: grid;
        height: 100vh;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 100%;
        background-size: 100% 100%;
        background-image: url('images/backgroundmaybeidk.png');
        background-repeat: no-repeat;
        justify-content: space-between;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

.pages {
    height:100%;
    width: fit-content;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
}

_::-webkit-full-page-media, _:future, :root .pages {
    width: 100%
}

.pagesLeft {
    justify-self: right;
}

.pagesRight {
    justify-self: left
}

.subPage {
    justify-content: center;
    filter: brightness(95%);
    position: relative;
    max-height: 95%;
    margin-top: auto;
    margin-bottom: auto;
    aspect-ratio : 1.2 / 1;
}

.subPage:hover {
    filter: brightness(70%)
}

.subImage {
    position: relative;
    max-width: 90%;
    height: 95%;
    outline: solid 8px rgba(180, 0, 180, 1);
    vertical-align: middle;
}

@-moz-document url-prefix() {
    .subPageLeft{
      justify-self: right;
    }
  }  

#centre {
    overflow: hidden;
    height: 100%;
}

#centreimg {
    object-fit: cover;
    height: 100%;
    width: auto;
    vertical-align: middle;
}

#gallery {
    height:auto;
    max-width:100%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height:100%;
}

#overlay {
    position: absolute;
    top:   5%;
    bottom:5%;
    left:  5%;
    right: 5%;
    width: 90%;
    height: 90%;
    justify-content: center;
    border-radius: 50px; 
}

#overlayImage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    background-color: white;
    border-radius: 40px;
}

#tint {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}

.ds {
    overflow: hidden;
    
}