body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.main {
    position: relative;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.main .info-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}
.main .info-box:hover {
    transform: translateY(-5%);
}

.main .info-box .aboutText {
    display: none;
}
  
  .main .info-box:hover .aboutPrompt {
    display: none;
}
  
  .main .info-box:hover .aboutText {
    display: inline;
}

/* Hide scrollbars on all elements */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}